html{
    /* width: 950px; */
    margin:  auto 150px;
    /* background-image:url(../img/摄图网_501315057_蓝天白云素材（非企业商用）.jpg);
    background-repeat: space;
    /* opacity:0.4;
    filter:alpha(opacity=50); */ 
}
.title{
    text-align: left;
    
} 
.title .logo_img { 
    float:left;
    margin-right:10px;
 } 
hr{
    margin-top: 60px;
}
.title .logo_txt {
    float:left;
    margin-top: 6px;
    color: rgba(149, 182, 66);
    font-weight:  bolder;
}
.button1{
    float:right;
    margin-top: 10px;
}
.button{
    display : inline-block;
} 

button {
    display : inline-block;
    border-radius: 4px;
    background-color: #f4b01e; 
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 1s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button2{
    border-radius: 25%;
    font-size: 20px;
    background-color: yellow;
    font-weight:bold;
    padding: 0px 7px;
}

.button3{
    border-radius: 25%;
    font-size: 20px;
    color: white;
    background-color: rgba(149, 182, 66);
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.ul1{
    text-align: center;
    list-style-type:none;
    margin-right: 40px;
   
}


.pagination li {
    display: inline;
    padding:10px 15px;
    border:1px #ccc solid;color:#000053;
    border-radius: 5px / 5px;
}

.pagination .this {background-color:#777;color:#fff;}
.pagination li a{text-decoration: none;}
.pagination li a:hover {color: #fff;text-decoration: none;background-color: #003396;}

.a1{
    color: rgba(0, 0, 0, 0.700);
    text-decoration:none;
    text-align: center;
}



a.btn--orange {
    text-decoration:none; 
    font-size: 30px;
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
    border-radius: 15%;
}
a.btn--orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}

a.btn--green {
    text-decoration:none; 
    font-size: 30px;
    color: #fff;
    background-color: #009107;
    border-bottom: 5px solid #015a05;
    border-radius: 15%;
}
a.btn--green:hover {
    margin-top: 3px;
    color: #fff;
    background: #009107;
    border-bottom: 2px solid #015a05;
}
a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}